body {
  font-family: "Inter", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  text-align: center;
  max-width: 1000px;
}

.App a {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: #007bff;
}

.App span {
  font-size: 14px;
}
